@charset "UTF-8";

@font-face {
  font-family: "Soviet Font";
  font-display: swap;
  src: url("../fonts/Soviet Font.woff2") format("woff2"), url("../fonts/Soviet Font.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Thin.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Thin-Italic.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Thin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-ExtraLight.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-ExtraLight-Italic.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-ExtraLight-Italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Light.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Light-Italic.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Light-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Regular.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Italic.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Medium.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Medium-Italic.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Medium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-DemiBold.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-DemiBold-Italic.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-DemiBold-Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Bold.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Bold-Italic.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Extrabold.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Extrabold-Italic.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Extrabold-Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Black.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons Trial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial-Black-Italic.woff2") format("woff2"), url("../fonts/TT-Commons-Trial-Black-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  line-height: 1;
  font-family: "TT Commons Trial";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "TT Commons Trial";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #F1E7D4;
  color: #192632;
}

.lock body {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  /*.loaded & {
  }*/
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 84.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.btn {
  padding: 0.875rem 1.4375rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FC0000;
  color: #F1E7D4;
  text-transform: uppercase;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  cursor: pointer;
}

.btn:active {
  background: #B90303;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-body__checkbox {
  position: relative;
}

.form-body__checkbox-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.form-body__checkbox-input:checked + .form-body__checkbox-label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.form-body__checkbox-label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 0.625rem;
}

.form-body__checkbox-label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.875rem;
          flex: 0 0 0.875rem;
  width: 0.875rem;
  height: 0.875rem;
  border: 1px solid #192632;
  border-radius: 2px;
}

.form-body__checkbox-label::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: absolute;
  width: 0.5625rem;
  border-radius: 3px;
  height: 0.5625rem;
  top: 2px;
  left: 2px;
  background-color: #FC0000;
}

.form-body__checkbox-text {
  font-family: "TT Commons Trial", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1428571429;
}

.form-body__checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

[data-fullscreen] {
  height: 100vh;
}

.touch [data-fullscreen] {
  height: calc(var(--vh, 1vh) * 100);
}

[class*=__image-ibg] {
  position: relative;
}

[class*=__image-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  width: 100%;
  height: 86px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_scroll {
  position: fixed;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.header-body {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0px;
}

.header-body__logo img {
  width: 11.875rem;
}

.header-body__icon ._path {
  fill: #ffffff;
}

.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
}

.menu-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-block__item:last-child {
  padding-right: 0;
}

.menu-block__link {
  font-family: "TT-Commons-Trial-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
  padding: 0px 0.9375rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body {
  left: -100%;
}

.footer {
  background: #192632;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.875rem 0;
}

.body-footer {
  font-family: "TT-Commons-Trial", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.15;
  color: #F1F1F1;
}

.body-footer__copy {
  margin: 0px 0px 0.75rem 0px;
}

.body-footer__made {
  color: #5A636B;
}

.body-footer__link {
  color: #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-content {
  min-height: 50rem;
  background-image: linear-gradient(100deg, #F1E7D4 66.6%, #FC0000 66.7%);
}

.main-content__container {
  background-image: none;
}

.main-content__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  padding-top: 5.375rem;
}

.main-content__big-img {
  max-width: 37.375rem;
  height: 44.5rem;
  position: relative;
  z-index: 2;
}

.main-content__big-img img {
  min-width: 100%;
  position: absolute;
  top: -1.3125rem;
  right: 1.875rem;
}

.main-info {
  margin: 6.125rem 4.3125rem 0px 0px;
}

.main-info__new {
  font-family: "TT-Commons-Trial-Regular", sans-serif;
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #FC0000;
  margin-left: 0.5rem;
}

.main-info__title {
  color: #192632;
  font-family: "Soviet Font";
  font-size: 6.25rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2px;
}

.main-info__title:not(:last-child) {
  margin-bottom: 3.125rem;
}

.main-info__btn {
  width: 12.8125rem;
  -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
          transform: skew(-20deg);
  margin-left: 1rem;
}

.main-info__btn span {
  font-family: "TT-Commons-Trial-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.8px;
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
}

.product-video {
  min-height: 50rem;
  position: relative;
  background: #FC0000;
  color: #F1F1F1;
}

.video-parallax {
  position: absolute;
  top: 35%;
  left: 0;
}

.video-parallax__item {
  padding-bottom: 3.125rem;
}

.video-parallax__item:last-child {
  padding-bottom: 0;
}

.video-parallax__item-first,
.video-parallax__item-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  font-family: "TT Commons Trial", sans-serif;
  font-size: 7.5rem;
  font-style: italic;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.video-parallax__item-first span,
.video-parallax__item-second span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #F1F1F1;
}

.video-info {
  padding: 6.75rem 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.video-info__frame {
  position: relative;
}

.video-info__frame img {
  max-width: 100%;
}

.video-info__btn {
  position: absolute;
  background-image: url("../img/svg/play_btn.svg");
  background-repeat: no-repeat;
  width: 6.1875rem;
  height: 6.1875rem;
  z-index: 10;
  bottom: -3.125rem;
  right: -3rem;
  -webkit-transition: background-image 0.3s ease 0s;
  transition: background-image 0.3s ease 0s;
}

.video-info__btn:focus {
  background-image: url("../img/svg/play_btn_focus.svg");
  -webkit-transition: background-image 0.3s ease 0s;
  transition: background-image 0.3s ease 0s;
}

.video-info__btn:after {
  content: "";
  width: 135px;
  height: 135px;
  position: absolute;
  background-image: url("../img/svg/play_btn_text.svg");
  background-repeat: no-repeat;
  bottom: -1.125rem;
  right: -1.1875rem;
}

.product-image {
  min-height: 50rem;
  position: relative;
  background: #FC0000;
  color: #F1F1F1;
}

.image-parallax {
  position: absolute;
  top: 35%;
  left: 0;
}

.image-parallax__item {
  padding-bottom: 3.125rem;
}

.image-parallax__item:last-child {
  padding-bottom: 0;
}

.image-parallax__item-first,
.image-parallax__item-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  font-family: "TT Commons Trial", sans-serif;
  font-size: 7.5rem;
  font-style: italic;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.image-parallax__item-first span,
.image-parallax__item-second span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #F1F1F1;
}

.image-info {
  padding: 6.75rem 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.image-info__frame {
  position: relative;
}

.image-info__frame img {
  max-width: 100%;
}

.image-info__btn {
  position: absolute;
  background-image: url("../img/svg/product_btn.svg");
  background-repeat: no-repeat;
  width: 6.1875rem;
  height: 6.1875rem;
  z-index: 10;
  bottom: -3.125rem;
  right: -3rem;
  -webkit-transition: background-image 0.3s ease 0s;
  transition: background-image 0.3s ease 0s;
}

.image-info__btn:focus {
  background-image: url("../img/svg/product_btn_focus.svg");
  -webkit-transition: background-image 0.3s ease 0s;
  transition: background-image 0.3s ease 0s;
}

.image-info__btn:after {
  content: "";
  width: 135px;
  height: 135px;
  position: absolute;
  background-image: url("../img/svg/product_btn_text.svg");
  background-repeat: no-repeat;
  bottom: -1.125rem;
  right: -1.1875rem;
}

.contacts-body {
  min-height: 50rem;
  background-color: #F1E7D4;
  padding: 11.4375rem 0px 9.3125rem 0px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-block:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contacts-block__title {
  text-align: center;
  font-family: "Soviet Font";
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 1.2px;
}

.form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-body ._error {
  border: 1px solid #FC0000;
  -webkit-box-shadow: 0 0 6px rgba(255, 0, 0, 0.5);
          box-shadow: 0 0 6px rgba(255, 0, 0, 0.5);
}

.form-body__input {
  border: 1px solid #BDB199;
  background: #F1F1F1;
  width: 38.3125rem;
  height: 3.75rem;
  margin: 0px 3.5rem;
  padding: 0px 0px 0px 1.25rem;
}

.form-body__input:not(:last-child) {
  margin-bottom: 0.625rem;
}

.form-body__input::-webkit-input-placeholder {
  color: #BDB199;
  font-family: "TT Commons Trial", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.form-body__input::-moz-placeholder {
  color: #BDB199;
  font-family: "TT Commons Trial", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.form-body__input:-ms-input-placeholder {
  color: #BDB199;
  font-family: "TT Commons Trial", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.form-body__input::-ms-input-placeholder {
  color: #BDB199;
  font-family: "TT Commons Trial", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.form-body__input::placeholder {
  color: #BDB199;
  font-family: "TT Commons Trial", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.form-body__input:focus {
  -webkit-box-shadow: 0 0 6px #192632;
          box-shadow: 0 0 6px #192632;
}

.form-body__send {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  width: 38.3125rem;
  margin: 1.875rem 0px 0px 0px;
}

.form-body__btn {
  padding: 1.0625rem 2.8125rem;
  margin: 0px 0.9375rem 0px 0px;
}

.form-body__checkbox {
  padding: 0.625rem 0px 0px 0px;
}

.page {
  min-width: 0;
}

._active {
  color: #F1F1F1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._path {
  fill: #ffffff;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    top: -86px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -86px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@media (min-width: 63.9375em) {
  .icon-menu {
    margin-top: 0.75rem;
  }
}

@media (min-width: 85.375em) {
  .header-body__logo {
    margin-right: 45.3125rem;
  }
}

@media (min-width: 120em) {
  .contacts-block__title {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 1300px) {
  .main-content {
    background-image: none;
  }

  .main-content__container {
    background-image: linear-gradient(-170deg, #F1E7D4 66.6%, #FC0000 66.7%);
  }

  .main-content__body {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
    row-gap: 3.75rem;
  }

  .main-info {
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 1300px) and (max-width: 23.4375em) {
  .main-content__big-img {
    height: 24.1875rem;
  }

  .main-content__big-img img {
    max-width: 20.3125rem;
  }

  .main-info {
    margin-top: 2.4375rem;
  }
}

@media (max-width: 1300px) and (max-width: 61.875em) {
  .main-content__big-img img {
    right: -8.125rem;
  }
}

@media (max-width: 1024px) and (max-width: 23.4375em) {
  .header-body {
    padding-top: 0.9375rem;
  }

  .header-body {
    padding-bottom: 0.9375rem;
  }

  .header-body__logo {
    margin-right: 8.75rem;
  }

  .header-body__logo img {
    width: 7.8125rem;
  }

  .icon-menu {
    width: 1.5625rem;
  }

  .icon-menu span {
    width: 0.625rem;
  }

  .footer__body {
    padding-top: 0.9375rem;
  }

  .footer__body {
    padding-bottom: 0.9375rem;
  }
}

@media (max-width: 1024px) {
  .menu-block {
    display: none;
  }

  .menu-block__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .menu-block__item {
    margin: 0.9375rem 0;
  }

  .menu-block__link {
    color: #F1F1F1;
    font-size: 1.875rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: auto;
    background-color: #192632;
    padding: 6.25rem 0.9375rem 3.125rem 0.9375rem;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    z-index: 4;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .icon-menu {
    display: block;
    position: relative;
    height: 1.25rem;
    cursor: pointer;
    z-index: 10;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #192632;
  }

  .icon-menu::before {
    top: 0.125rem;
  }

  .icon-menu::after {
    background-color: transparent;
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: #F1F1F1;
  }

  .menu-open .icon-menu::before {
    background-color: #F1F1F1;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    background-color: #F1F1F1;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .btn_active span,
  .btn_active::before,
  .btn_active::after {
    content: "";
    background-color: #F1F1F1;
  }

  .btn_active::after {
    background-color: transparent;
  }
}

@media (max-width: 991px) and (max-width: 50em) {
  .main-content__big-img img {
    right: -1.875rem;
  }
}

@media (max-width: 800px) and (max-width: 40.625em) {
  .main-content__big-img img {
    right: 2rem;
  }
}

@media (max-width: 800px) {
  .main-info__new {
    line-height: 1.15;
  }

  .main-info__new:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .main-info__title {
    line-height: 1.5;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 800px) and (max-width: 23.4375em) {
  .main-info__new {
    font-size: 1.25rem;
  }

  .main-info__title {
    font-size: 2.5rem;
  }

  .main-info__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .main-info__btn {
    width: 12.5625rem;
  }
}

@media (max-width: 750px) {
  .contacts-block__title {
    line-height: 1.5;
  }
}

@media (max-width: 750px) and (max-width: 23.4375em) {
  .contacts-block__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 700px) and (max-width: 23.4375em) {
  .contacts-body {
    padding-top: 10.6875rem;
  }

  .contacts-body {
    padding-bottom: 8.8125rem;
  }

  .form-body__input {
    width: 22.1875rem;
  }

  .form-body__send {
    width: 22.1875rem;
  }

  .form-body__btn {
    margin-right: 0rem;
  }
}

@media (max-width: 700px) {
  .form-body__send {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 650px) and (max-width: 23.4375em) {
  .main-content__big-img img {
    right: 2rem;
  }
}

@media (max-width: 600px) {
  .body-footer {
    line-height: 1.1428571429;
  }
}

@media (max-width: 600px) and (max-width: 23.4375em) {
  .body-footer {
    font-size: 0.875rem;
  }
}

@media (max-width: 410px) {
  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 63.9375em) {
  .header-body__logo {
    margin-right: 25rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
  }
}

@media (max-width: 23.4375em) {
  .icon-menu {
    margin-top: 0.375rem;
  }

  .contacts-block__title {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 1024px) and (min-width: 63.9375em) {
  .header-body {
    padding-top: 1.25rem;
  }

  .header-body {
    padding-bottom: 1.25rem;
  }

  .header-body__logo img {
    width: 11.875rem;
  }

  .icon-menu {
    width: 2.5rem;
  }

  .icon-menu span {
    width: 0.9375rem;
  }

  .footer__body {
    padding-top: 1.875rem;
  }

  .footer__body {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 1024px) and (min-width: 23.4375em) and (max-width: 63.9375em) {
  .header-body {
    padding-top: calc(0.9375rem + 0.3125 * (100vw - 23.4375rem) / ((40.5)));
  }

  .header-body {
    padding-bottom: calc(0.9375rem + 0.3125 * (100vw - 23.4375rem) / ((40.5)));
  }

  .header-body__logo img {
    width: calc(7.8125rem + 4.0625 * (100vw - 23.4375rem) / ((40.5)));
  }

  .icon-menu {
    width: calc(1.5625rem + 0.9375 * (100vw - 23.4375rem) / ((40.5)));
  }

  .icon-menu span {
    width: calc(0.625rem + 0.3125 * (100vw - 23.4375rem) / ((40.5)));
  }

  .footer__body {
    padding-top: calc(0.9375rem + 0.9375 * (100vw - 23.4375rem) / ((40.5)));
  }

  .footer__body {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 23.4375rem) / ((40.5)));
  }
}

@media (min-width: 63.9375em) and (max-width: 85.375em) {
  .header-body__logo {
    margin-right: calc(25rem + 20.3125 * (100vw - 63.9375rem) / ((21.4375)));
  }
}

@media (max-width: 1024px) and (min-width: 85.375em) {
  .header-body__logo {
    margin-right: 25rem;
  }
}

@media (max-width: 1024px) and (min-width: 23.4375em) and (max-width: 85.375em) {
  .header-body__logo {
    margin-right: calc(8.75rem + 16.25 * (100vw - 23.4375rem) / ((61.9375)));
  }
}

@media (min-width: 23.4375em) and (max-width: 63.9375em) {
  .icon-menu {
    margin-top: calc(0.375rem + 0.375 * (100vw - 23.4375rem) / ((40.5)));
  }
}

@media (max-width: 600px) and (min-width: 85.375em) {
  .body-footer {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) and (min-width: 23.4375em) and (max-width: 85.375em) {
  .body-footer {
    font-size: calc(0.875rem + 0.375 * (100vw - 23.4375rem) / ((61.9375)));
  }
}

@media (min-width: 25em) and (max-width: 28.125em) {
  .body-footer__copy {
    margin-right: calc(0rem + 1.875 * (100vw - 25rem) / ((3.125)));
  }
}

@media (max-width: 1300px) and (min-width: 81.1875em) {
  .main-content__big-img {
    height: 44.5rem;
  }

  .main-content__big-img img {
    max-width: 37.375rem;
  }

  .main-content__big-img img {
    right: -16.875rem;
  }

  .main-info {
    margin-top: 6.125rem;
  }
}

@media (max-width: 1300px) and (min-width: 23.4375em) and (max-width: 81.1875em) {
  .main-content__big-img {
    height: calc(24.1875rem + 20.3125 * (100vw - 23.4375rem) / ((57.75)));
  }

  .main-content__big-img img {
    max-width: calc(20.3125rem + 17.0625 * (100vw - 23.4375rem) / ((57.75)));
  }

  .main-info {
    margin-top: calc(2.4375rem + 3.6875 * (100vw - 23.4375rem) / ((57.75)));
  }
}

@media (max-width: 1300px) and (min-width: 61.875em) and (max-width: 81.1875em) {
  .main-content__big-img img {
    right: calc(-8.125rem + -8.75 * (100vw - 61.875rem) / ((19.3125)));
  }
}

@media (max-width: 991px) and (min-width: 61.875em) {
  .main-content__big-img img {
    right: -8.125rem;
  }
}

@media (max-width: 991px) and (min-width: 50em) and (max-width: 61.875em) {
  .main-content__big-img img {
    right: calc(-1.875rem + -6.25 * (100vw - 50rem) / ((11.875)));
  }
}

@media (max-width: 800px) and (min-width: 49.9375em) {
  .main-content__big-img img {
    right: -1.875rem;
  }

  .main-info__new {
    font-size: 1.875rem;
  }

  .main-info__title {
    font-size: 6.25rem;
  }

  .main-info__title:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .main-info__btn {
    width: 12.8125rem;
  }
}

@media (max-width: 800px) and (min-width: 40.625em) and (max-width: 49.9375em) {
  .main-content__big-img img {
    right: calc(2rem + -3.875 * (100vw - 40.625rem) / ((9.3125)));
  }
}

@media (max-width: 650px) and (min-width: 40.5625em) {
  .main-content__big-img img {
    right: 2.125rem;
  }
}

@media (max-width: 650px) and (min-width: 23.4375em) and (max-width: 40.5625em) {
  .main-content__big-img img {
    right: calc(2rem + 0.125 * (100vw - 23.4375rem) / ((17.125)));
  }
}

@media (max-width: 800px) and (min-width: 23.4375em) and (max-width: 49.9375em) {
  .main-info__new {
    font-size: calc(1.25rem + 0.625 * (100vw - 23.4375rem) / ((26.5)));
  }

  .main-info__title {
    font-size: calc(2.5rem + 3.75 * (100vw - 23.4375rem) / ((26.5)));
  }

  .main-info__title:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.25 * (100vw - 23.4375rem) / ((26.5)));
  }

  .main-info__btn {
    width: calc(12.5625rem + 0.25 * (100vw - 23.4375rem) / ((26.5)));
  }
}

@media (max-width: 700px) and (min-width: 43.6875em) {
  .contacts-body {
    padding-top: 11.4375rem;
  }

  .contacts-body {
    padding-bottom: 9.3125rem;
  }

  .form-body__send {
    width: 31.25rem;
  }

  .form-body__btn {
    margin-right: 0.9375rem;
  }
}

@media (max-width: 700px) and (min-width: 23.4375em) and (max-width: 43.6875em) {
  .contacts-body {
    padding-top: calc(10.6875rem + 0.75 * (100vw - 23.4375rem) / ((20.25)));
  }

  .contacts-body {
    padding-bottom: calc(8.8125rem + 0.5 * (100vw - 23.4375rem) / ((20.25)));
  }

  .form-body__send {
    width: calc(22.1875rem + 9.0625 * (100vw - 23.4375rem) / ((20.25)));
  }

  .form-body__btn {
    margin-right: calc(0rem + 0.9375 * (100vw - 23.4375rem) / ((20.25)));
  }
}

@media (min-width: 23.4375em) and (max-width: 120em) {
  .contacts-block__title {
    margin-bottom: calc(2.5rem + -1.25 * (100vw - 23.4375rem) / ((96.5625)));
  }
}

@media (max-width: 750px) and (min-width: 84.125em) {
  .contacts-block__title {
    font-size: 3.75rem;
  }
}

@media (max-width: 750px) and (min-width: 23.4375em) and (max-width: 84.125em) {
  .contacts-block__title {
    font-size: calc(2.5rem + 1.25 * (100vw - 23.4375rem) / ((60.6875)));
  }
}

@media (max-width: 700px) and (min-width: 84.0625em) {
  .form-body__input {
    width: 38.3125rem;
  }
}

@media (max-width: 700px) and (min-width: 23.4375em) and (max-width: 84.0625em) {
  .form-body__input {
    width: calc(22.1875rem + 16.125 * (100vw - 23.4375rem) / ((60.625)));
  }
}

@media (any-hover: hover) {
  .btn:hover {
    -webkit-box-shadow: 7px 7px 0 #B90303;
            box-shadow: 7px 7px 0 #B90303;
    -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
    transition: -webkit-box-shadow 0.3s ease 0s;
    transition: box-shadow 0.3s ease 0s;
    transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  }

  .menu-block__link:hover {
    background-color: #FC0000;
    padding: 1.875rem 0.9375rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #F1F1F1;
  }

  .body-footer__link:hover {
    color: #FC0000;
    border-bottom: 1px solid #FC0000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .video-info__btn:hover {
    background-image: url("../img/svg/play_btn_hover.svg");
    -webkit-transition: background-image 0.3s ease 0s;
    transition: background-image 0.3s ease 0s;
  }

  .image-info__btn:hover {
    background-image: url("../img/svg/product_btn_hover.svg");
    -webkit-transition: background-image 0.3s ease 0s;
    transition: background-image 0.3s ease 0s;
  }

  ._active:hover {
    background-color: #F1F1F1;
    padding: 1.875rem 0.9375rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #FC0000;
  }
}